mixin from_group()
  .form-group
    block

mixin input_control(input_label, name, id, required=false, type="text")
  .form-group
    label(for=id)
      =input_label
    input(id=id, type=type, name=name, placeholder=input_label, required=required).form-control
    block

mixin checkbox_control(input_label, name, id)
  .form-group.form-check
    input(id=id, type="checkbox", name=name, placeholder=input_label).form-check-input
    label(for=id).form-check-label
      =input_label
    block