mixin navbar(name, id="navBar", style="light", bg="light", href="#")
  nav( role="navigation", class=["navbar", "navbar-expand-lg", "navbar-" + style, "bg-" + bg] )
    +navbar_toggler()
    a.navbar-brand( href=href )
      img(src="images/logo.png", alt=name, width=30, height=30)

    .collapse.navbar-collapse( id=id )
      +navbar_nav
        block

mixin navbar_contained(name, id="navBar", style="light", bg="light", href="#")
  nav( role="navigation", class=["navbar", "navbar-expand-lg", "navbar-" + style, "bg-" + bg] )
    .container
      +navbar_toggler()
      a.navbar-brand( href=href )
        img(src="images/logo.png", alt=name, width=30, height=30)


      .collapse.navbar-collapse( id=id )
        +navbar_nav
          block

mixin nav_item(href, active)
  - var active = active ? "active" : ""
  li(class=["nav-item", active])
    a( href=href ).nav-link
      block

mixin navbar_nav()
  ul.nav.navbar-nav
    block

mixin navbar_toggler()
  button.navbar-toggler( type="button", data-toggle="collapse", data-target=id, aria-controls="navbarNav", aria-expanded="false", aria-label="Toggle navigation" )
    span.navbar-toggler-icon